git+https://github.com/phlax/aio.core.git#egg=aio.core
git+https://github.com/phlax/aio.logging.git#egg=aio.logging
git+https://github.com/phlax/aio.config.git#egg=aio.config
git+https://github.com/phlax/aio.signals.git#egg=aio.signals
git+https://github.com/phlax/aio.http.git#egg=aio.http
git+https://github.com/phlax/aio.web.git#egg=aio.web
git+https://github.com/phlax/aio.app.git#egg=aio.app
git+https://github.com/phlax/aio.testing.git#egg=aio.testing
