git+https://github.com/phlax/aio.core.git#egg=aio.core
git+https://github.com/phlax/aio.logging.git#egg=aio.logging
git+https://github.com/phlax/aio.config.git#egg=aio.config
git+https://github.com/phlax/aio.signals.git#egg=aio.signals
git+https://github.com/phlax/aio.http.server.git#egg=aio.http.server
git+https://github.com/phlax/aio.web.server.git#egg=aio.web.server
git+https://github.com/phlax/aio.app.git#egg=aio.app
git+https://github.com/phlax/aio.testing.git#egg=aio.testing
